.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-template-rows: repeat(auto-fit, 328px);
  margin: 0;
  padding: 0;
  gap: 20px;
}

.cards__text {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
